body {
  background-color: #303035;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.box {
  width: 100%;
  height: 50vh;
  background-color: #262629;
  border-radius: 1vw;
  margin-top: 7vw;
  margin-bottom: 10vw;
  overflow: hidden;
}
.shadow {
  width: 60vw;
  height: 50vh;
  border-radius: 1vw;
  position: absolute;
  top: calc(12vw + 2px);
  left: 20vw;
  box-shadow: inset 0px 0px 40px 13px #212121;
}
.can {
  position: absolute;
  top: 5vw;
  height: 75vh;
  width: 48.75vh;
  left: calc(50vw - 24.375vh);
  margin: auto;
}
header {
  height: 5vw;

  border-bottom: solid 2px #000000;
}
.window {
  padding: 0 20vw;
}
h2 {
  font-size: 2vw;
  margin-bottom: 3vw;
}
p {
  font-size: 1.2vw;
  line-height: 1.5;
  position: sticky;
  z-index: 2;
}
.ambient1 {
  position: absolute;
  top: 70vh;
  left: 60vw;
  filter: blur(200px);
  height: 25vw;
  width: 25vw;
  z-index: 1;
  background-color: #35e86566;
}
.circle {
  background-color: #35e86579;
  height: 40vw;
  width: 40vw;
  border-radius: 100vw;
  filter: blur(100px);
}
.box .circle {
  position: relative;
  top: 20vh;
  right: 10vw;
}
.smallbox {
  width: 20vw;
  height: 20vw;
  background-color: #262629;
  overflow: hidden;
  border-radius: 1vw;
  box-shadow: inset 0px 0px 40px 13px #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.smallbox .circle {
  position: relative;
  top: 1vw;
  right: 7vw;
  width: 10vw;

  height: 10vw;
  background-color: #35e865da;
}
.profile {
  position: relative;
  top: 5vw;
  width: 7vw;
}
.s_b_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  text-align: center;
  margin-top: 10vw;
  font-size: 1.3vw;
}
.window2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10vw;
}
.stars {
  width: 80%;
}

.s_b_1,
.s_b_3 {
  position: relative;
  top: 3vw;
  opacity: 0.3;
}
.s_b_1 {
  transform: rotate(-30deg);
  right: 7vw;
}
.s_b_3 {
  transform: rotate(30deg);
  left: 7vw;
}
.contact {
  margin-top: 15vw;
  padding-bottom: 5vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-color: #262629;
}
button {
  background-color: #212121;
  color: #ffffff;
  padding: 0.5vw;
  border-radius: 0.4vw;
  color: #656572;
  border: #656572 solid 1px;
  text-align: left;
}
.bigger {
  padding-bottom: 2vw;
  margin-bottom: 1vw;
}
.white {
  background-color: azure;
  color: #212121;
  border: #ffffff solid 1px;
  text-align: center;
}
@media screen and (max-width: 1700px) {
  .can {
    height: 60vh;
    width: 39vh;
    left: calc(50vw - 19.5vh);
  }
}
@media screen and (max-width: 500px) {
  .window {
    padding: 0 10vw;
  }
  .shadow {
    width: 80vw;
    left: 10vw;
  }
  h2 {
    font-size: 5vw;
  }
  p {
    font-size: 3vw;
  }
  .profile {
    width: 14vw;
  }
  .smallbox {
    width: 30vw;
    height: 30vw;
  }
  h3 {
    font-size: 3vw;
  }
  a {
    font-size: 5vw;
  }
  header {
    height: 10vw;
  }
}
